* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}





/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */





/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}

main .action-table {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
}

main .action-table .add-product,
main .action-table .update-product {
	padding: 8px 20px;
	border-radius: 5px;
	border: none;
	color: #000;
	transition: all .2s;

}

main .action-table .add-product {
	background-color: #A8DF8E;
}

main .action-table .add-product i,
main .action-table .update-product i {
	padding-right: 10px;
}

main .action-table .add-product:hover {
	background-color: #D0F5BE;
}

main .action-table .update-product {
	background-color: #FAE392;
}

main .action-table .update-product:hover {
	background-color: #FDFFAE;
}

main table {
	width: 80%;
}

/* table products */
#content main table, tr, th, td {
	color: var(--dark);
	border: 2px solid #AAAAAA;
	border-collapse: collapse;
	margin: 0 auto;
}

#content main table, tr, td {
	padding: 10px 0 0 5px;
	vertical-align: top;
}

#content main table .stt_col {
	width: 50px;
	height: 30px;
}


#content main table .img_col {
	width: 230px;
}

#content main table .name_col {
	width: 280px;
}

#content main table .cate_col {
	width: 150px;
}

#content main table .quan_col {
	width: 100px;
}

#content main table .price_col {
	width: 200px;
}

#content main table .other_col {
	width: 150px;
}

#content main .table_main {
	height: 70px;
}

main .img_detail {
	padding-top: 15px;
	/* vertical-align: middle; */
}

#content main .img_detail .img_table {
	width: 80%;
	height: 100px;
	margin: auto 0;
	padding-left: 5px;
}

#content main .img_table img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

main .main_text {
	vertical-align: top;
}

main .button_col {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

main .button_col .button {
	padding: 6px 10px;
	margin-right: 5px;
	cursor: pointer;
	border-radius: 3px;
}

main .button_col .button:hover {
	opacity: 0.5;
}

.btn_edit {
	background-color: #FFCE26;
}

.btn_watch {
	background-color: #82CD47;
}

.btn_delete {
	background-color: #E74646;
}

/* table sell invoice */
#table_sell .sell_title {
	height: 30px;
	background-color: #62CDFF;
}

#table_sell .checkbox {
	width: 30px;
}

#table_sell .sell_id {
	width: 100px;
}

#table_sell .sell_product {
	width: 210px;
}

#table_sell .sell_quantity {
	width: 100px;
}

#table_sell .sell_price {
	width: 100px;
}

#table_sell .sell_total {
	width: 120px;
}

#table_sell .sell_staff {
	width: 200px;
}

#table_sell .sell_time {
	width: 250px;
}

#table_sell .sell_edit {
	width: 50px;
}

#table_sell .sell_row {
	height: 50px;
}

/* MAIN */
/* CONTENT */
